.App-contact {
  margin-top: 0 !important;
}
.App-contact h3 {
  font-size: 1.35rem;
}

.App-contact span {
  color: #FF4081;
}

.App-contact p {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
}

.Footer-image-centered {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}