.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.float-right {
  float: right;
}

.ui.segment {
  border-radius: 1.4rem !important;
  border-color: #eeeeee !important;
}